<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to instaRails</h1>
  <p>Sign up to start sharing your photos!</p>
  <%= link_to 'Sign Up', '#', class: 'btn btn-primary' %>
</div>
