<div id="comment-form">
    <%= form_for(@comment) do |f| %>
      <%= f.text_area :content, placeholder: 'Add a comment...',
                      class: 'form-control' %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.submit 'Comment', class: 'btn btn-primary' %>
    <% end %>
</div>
