<div class="comments">
  <% if post.comments.count > 1 %>
    <p>View all <%= pluralize(post.comments.count, 'comment') %></p>
    <% end %>
  <%= link_to post.comments.last.user.username, post.comments.last.user %> <%= post.comments.last.content %>
    <% if logged_in? && comment_author?(post.comments.last.id) %>
      <span id="delete"><%= link_to 'Delete', comment_path(post.comments.last), remote: true, method: 'delete' %></span>
    <% end %>
  </p>
</div>
