<div class="comments">
  <% if !post.comments.empty? %>
    <% if post.comments.count > 1 %>
      <p>View all <%= pluralize(post.comments.count, 'comment') %></p>
    <% end %>
    <div class="recent_comment">
      <p><%= render 'comments/comments_list', post: post %></p>
    </div>
    <% end %>
</div>
