<div class="mini_user">
  <div class="user-list-profile">
    <%= image_tag user.profile %>
  </div>
  <div class="user-list-details">
    <%= link_to user.username, user %>
    <% if !user.posts.empty? %>
        <p>Last posted <%= time_ago_in_words(user.posts.last.created_at) %> ago</p>
      <% else %>
        <p>Yet to post</p>
      <% end %>
  </div>
  <%= link_to 'View Profile', user_path(user), class: 'btn btn-outline-primary' %>
</div>
