<% provide(:title, @user.name) %>
<div class="row">
  <div id="profile-photo"class="col-md-4 center">
    <img src="https://randomuser.me/api/portraits/men/52.jpg" alt="">
  </div>
  <div id="user-details" class="col-md-6">
    <h4>
      <%=@user.username %>
      <span>
        <%= link_to '#', class:'btn btn-outline-dark' do %>
          Edit Profile <i class="fas fa-cog"></i>
        <% end %>
      </span>
    </h4>
    <div id="user-stats">
      <span>
        <p><strong>1</strong>post</p>
        <p><strong>42</strong> followers</p>
        <p><strong>34</strong> following</p>
      </span>
      <p><strong id="user-name"><%= @user.name %></strong></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>You've not posted anything yet</p>
  </div>
</div>
