<div id="post-form">
    <%= form_for(@post) do |f| %>
    <label class="btn btn-primary">
      Select your photo
      <span style="display:none;">
        <%= f.file_field :picture,
                         accept: 'image/jpeg, image/gif, image/png' %>
      </span>
    </label>
      <%= f.text_area :caption, placeholder: 'Give your photo a caption...',
                      class: 'form-control' %>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    <% end %>
</div>
