<div id="post-form">
  <h3>New post</h2>
    <%= form_for(@post) do |f| %>
      <span class="picture">
      <%= f.file_field :picture,
                       accept: 'image/jpeg, image/gif, image/png' %>
      </span>
      <%= f.text_area :caption, placeholder: 'Give your photo a caption...' %>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    <% end %>
</div>
