<div class="row">
  <div class="col-md-7">
    <ol class="posts">
      <%= render @posts %>
    </ol>
  </div>
  <% if logged_in? %>
    <%= render 'users/user_list' %>
  <% end %>
</div>
<script>
  $('li').on('click', '#user-com', function(e){
    e.preventDefault()
    $(this).closest('li').find('input#comment_content').focus()
  })
</script>
