@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Pacifico');

$section-border: rgba(202, 203, 202, 0.74);

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: auto;
}

.center {
  text-align: center
}

// Navbar //

.navbar {
  background-color: white !important;
  border-top: 1px solid $section-border;
  border-bottom: 1px solid $section-border;
  .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    letter-spacing: 2px;
  }
}

 // Footer //

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $section-border;

  a {
      color: gray;
      &:hover {
        color: gray;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }

//Static_pages - Home
.jumbotron {
  margin-top: 20px;
  p {
    margin-top: 20px;
  }
}

// Forms //

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

//Posts//

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
  }
  .content {
    display: block;
    img {
      display: block;
      margin: auto;
    }
  }
}
