@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Pacifico');

$section-border: rgba(202, 203, 202, 0.74);
$title-color: #262626;
$subheading-gray: rgb(153, 153, 153);
$page-background-color: #f4f4f4;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: auto;
}

body {
  background: $page-background-color;
}

.center {
  text-align: center
}

#main {
  margin-top: 20px;
}

// Navbar //

.navbar {
  background-color: white !important;
  border-bottom: 1px solid $section-border;
  .fa-camera-retro{
    font-size: 2em;
  }
  .navbar-brand {
    color: $title-color;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    letter-spacing: 1px;
    margin-left: 20px;
  }

  svg {
    color: $title-color;
    font-size: 1.5em;
    margin-left: 20px;
  }
}

 // Footer //

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid $section-border;

  a {
      color: $subheading-gray;
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }

//Static_pages - Home
body.welcome-page {
  background: url("man.jpg");
  background-size: cover;
  footer {
    display: none;
  }
  .welcome {
    padding-top: 50px;
    height: 80vh;
    h1 {
      font-family: 'Pacifico', cursive;
      font-size: 150px;
    }
    h4 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 40px;
    }
    a {
      background: none;
      margin-top: 20px;
      margin-right: 15px;
      align-self: center;
      border-color: $title-color!important;
      font-size: 14px;
      font-weight: 600;
      color: $title-color!important;
    }
  }
}

// Forms //

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

//Posts//

.posts {
  font-size: 14px;
  margin-left: 20px;
  width: 616px;
  margin-top: -20px;
  list-style: none;
  padding: 0;
  li {
    background: white;
    border: 1px solid $section-border;
    margin: 20px 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    a {
      color: inherit;
      font-size: 14px;
      font-weight: 500;
    }
    img {
      border-top: 1px solid $section-border;
      border-bottom: 1px solid $section-border;
    }
  }
  .image-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
    -webkit-align-items: center;
    img {
      align-self: flex-end;
      border-radius: 50%;
      height: 40px;
      margin-right: 10px;
    }
    .image-header-text {
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      a {
        color: rgb(38, 38, 38);
        font-size: 14px;
        font-weight: 600px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .content {
    display: block;
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    img {
      // width: 100%;
      display: block;
      margin: auto;
    }
    .svg-inline--fa {
      margin: 5px 10px;
      font-size: 1.5em;
    }
    .number-of-likes {
      margin-left: 10px;
      color: $title-color;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .caption {
    margin-left: 10px;
    a {
      color: rgb(38, 38, 38);
      font-size: 14px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .comments {
    margin-top: 5px;
    a {
      font-weight: 600;
    }
    p {
      display: block;
      line-height: 0.5em;
      margin-left: 10px;
    }
    span#delete {
      margin-right: 20px;
      float: right;
    }
  }

  #comment-form {
    display: flex;
    flex-direction: row;
    flex-shrink: none;
    margin-top: 4px;
    padding-right: 26px;
    border-top: 1px solid #efefef;
    color: #999;
    font-size: 14px;
    line-height: 18px;
    min-height: 36px;
    padding: 16px 0;
    align-items: baseline;
    #new_comment {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-left: 10px;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
    }
    input {
      margin-left: 10px;
      text-align: start;
      width: 90%;
      outline: none!important;
      border: none;
    }
  }
  .time-posted {
    color: rgb(171, 170, 170);
    font-size: 10px;
    letter-spacing: .2px;
    text-transform: uppercase;
    margin-left: 10px;
  }
}

#post-form {
  label {
    width: 100%;
  }
}

.user-list-heading {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #efefef;
  height: 70px;

  img {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .user-list-heading-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: $title-color!important;
      line-height: 18px;
    }
    p {
      color: rgb(153, 153, 153);
      font-size: 12px;
      font-weight: 400px;
      line-height: 14px;
    }
  }
}

.user-list {
  .user-list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  p {
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 600;
  }
  a {
    color: rgb(38, 38, 38);
    font-size: 14px;
    font-weight: 600;
  }
  border-bottom: 1px solid #efefef;

}

.mini_user {
  display: flex;
  flex-direction: row;
  height: 60px;
  .user-list-profile{
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .user-list-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: $title-color!important;
      line-height: 18px;
    }
    p {
      color: rgb(153, 153, 153);
      font-size: 12px;
      font-weight: 400px;
      line-height: 14px;
    }
  }
}

.links {
  display: flex;
  ul {
    list-style: none;
    padding: 0px;
    li {
      color: rgb(199, 199, 199)!important;
      display: inline-block;
      margin-left: 0px;
      font-weight: 400px;
      font-size: 11px;
      a {
        color: rgb(199, 199, 199)!important;
      }
    }
  }
}

//Forms //

#img_prev {
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: -20px;
}

label.btn.btn-primary {
  width: 50%;
  display: block;
  margin: auto;
}

input, select, {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 3px 0;
  }
}

// User Profile //

#profile-photo {
  img {
    border-radius: 50%;
  }

  .stock-profile-image {
    font-size: 4em;
  }
}

#user-details {
  margin-bottom: 0px;
  .name-and-buttons {
    display: flex;
    flex-direction: row;
  }
  h3 {
    font-size: 34px;
    font-weight: 200;
    padding-right: 20px;
  }
  p {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

#user-stats {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.btn-outline-danger {
  float: right;
}

.user-posts {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
}

.image-preview {
  height: 302px;
  width: 100%;
}

// New Post

#post-prev {
  display: none;
}

// User Directory

.heading {
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 600
}

.user-index-list {
  border: 1px solid $section-border;
  width: 50%;
  margin: auto;
  .mini_user {
    padding: 5px;
    background: white;
    border-bottom: 1px solid #efefef;
  }
  .user-list-details {
    margin-right: 10px;
  }
  a.btn {
    align-self: center;
    margin-left: auto;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: $title-color!important;
  }
  a.btn:hover {
    background: none;
    border: 1px solid $title-color;
  }
}
