<li class="nav-item">
  <%= link_to signup_path, class: 'nav-link',
                             title: 'Sign Up',
                             'data-toggle' => 'tooltip',
                             'data-placement' => 'bottom' do %>
    <i class="fas fa-user-plus"></i>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to login_path, class: 'nav-link',
                             title: 'Log In',
                             'data-toggle' => 'tooltip',
                             'data-placement' => 'bottom' do %>
    <i class="fas fa-sign-in-alt"></i>
  <% end %>
</li>
