<li class="nav-item">
  <%= link_to current_user, class: 'nav-link' do %>
    <i class="far fa-user"></i>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to 'Sign Out', login_path, method: 'delete', class: 'nav-link' %>
</li>
